.card {
    background-size: cover;
    background-position: center;
    height: 150px;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 22px;
    color: white;
    font-weight: bolder;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
  }
  
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    flex-grow: 1;
    margin: 5px;
    padding: 5px;
  }
  
  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(1, 1fr); }
  }
  
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(1, 1fr); }
  }

 .show-banner {
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('https://unsplash.com/photos/q0ZLK_D7ngI');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
 }