<h1>Book a portal</h1>
<p>Only one step away from this whimsical experience</p>


<%= simple_form_for [ @portal, @booking ] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Confirm Booking", class: "btn btn-success" %>
<% end %>




