<h1>Portals</h1>

<div class="card-columns">
  <% @portals.each do |portal| %>
    <% unless portal.user == current_user %>
      <% if portal.cover_photo.attached? %>
  <div class="card" >
        <%= link_to portal_path(portal) do %>
          <%= cl_image_tag(portal.cover_photo.key,
                class: "card-images", height: 300, fit: :clip) %>
          <% end %>
        <% end %>
      <h5><%= portal.name %></h5>
  </div>
      <% end %>
    <% end %>
</div>
