<h1 id="index-page-header">Portals available near you</h1>

<div class="card-columns">
  <% @portals.each do |portal| %>
    <div class="card" >
      <%= link_to portal_path(portal) do %>
        <% unless portal.user == current_user %>
          <% if portal.cover_photo.attached? %>
            <%= cl_image_tag(portal.cover_photo.key,
              class: "card-images", height: 300, fit: :clip) %>
          <% end %>
        <% end %>
        <h5 id="card_name"><%= portal.name %></h5>
      <% end %>
    </div>
  <% end %>
</div>
