.card {
  margin-top: 40px;
  width: 100%;
  margin-bottom: 30px;
  border: none;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1), 0 15px 40px rgba(166,173,201,.2);
  border-radius: 10px;
  text-decoration: none;
  transition: transform 0.6s;
  -webkit-backface-visibility: hidden;
}

.card:hover {
  // -webkit-transform: rotate(3deg) skewY(3deg);
  // transform: rotate(3deg) skewY(3deg);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.card a:link {
  text-decoration: none;
}

.card-columns {
  column-gap: 3.5rem;
  column-fill: balance;
}

.card-images {
  width: 100%;
  border: none;
  border-radius: 8px 8px 0 0;
}

#card_name {
  margin: auto;
  padding: 12px;
  height: 50px;
  text-align: center;
  color: black;
  border-radius: 0 0 8px 8px;
}

#index-page-header {
  margin-top: 30px;
  margin-bottom: 10px;
}
